.form_outer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.form_layout{
    height:55vh;
    width: 40vw; 
    background-color: rgb(231, 231, 247);
    border-radius: 2vh;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2)
}

.SignUp{
    height: 80vh;
}

.form_layout>div{
    display: flex;
    justify-content: center;
    margin: 4.5vh;
}

.form_data{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    width: 100%;
    height: 100%;
}

.form_value{
    display: flex;
    justify-content: center;
    height: 7vh;
    /* align-items: center; */
    font-size: 1.5rem;
}

.form_value>label{
    margin-left:3vw;
    margin-right: auto;
    margin-top: auto;
}

.form_value>input{
    margin-right: 3vw;
    width: 55%;
    font-size: 1rem;
    padding: 0 0.5vw;
    border-radius: 1vh;
    border: none;
}

form{
    width: 100%;
    height: 100%;
}

form button{
    height: 100%;
    width: 9vw;
    font-size: 1.3rem;
    border-radius: 1.5vh;
    background-color: rgb(67, 67, 163);
    color: white;
}

form .button_container{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
}